html {
    font-size: 62.5%;    
    max-width: 1920px;
    box-sizing: border-box;
    scroll-padding-top: 150px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #333;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

/* Menu horizontal con el logo a la izquierda */
.menu-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    position: fixed;
    width: 100%;
    font-size: 3.5vw;
    z-index: 1;
}

.menu-nav a {
    color: white;
    padding: 0 1rem;
    text-decoration: none;
}

.menu-nav > a:hover {
    color: red;

  }

#active-nav-link {
    font-weight: bold;
  }
  

#menu-logo{
    width: 12%;
    padding-right: 0.5rem;
    margin: 0.5rem 0;
}

/*  INDEX
    Contenedor principal y divs hijos.
    Partí de un diseño mobile first, pensando en que el sitio va a ser visto mayoritariamente en mobile.
    Voy a armar todo pensando en mobile y después crear 2 media queries para tablet y desktop */
.contenedor-main {
    display: grid;
    grid-template-areas: "quienes-somos"
                         "trabajos"
                         "servicios"
                         "contacto"
                         "mapa";
    grid-template-rows: 22% 32% 20% 11% 15%;
    height: 175rem;
    padding-top: 13vw;
}

.quienes-somos {
    grid-area: quienes-somos;
    display: grid;
    grid-template-areas: "logo1 p1"
                         "logo2 p2"
                         "logo3 p3";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 10% 90%;
    background-image: -webkit-linear-gradient(90deg,rgba(51, 51, 51, 1) 10%, rgba(51, 51, 51, 0.99) 11%, rgba(51, 51, 51, 0.9) 25%, rgba(0, 0, 0, 0.7) 100%), url(img/inyeccion-de-plasticos.jpg);
    color: white;
    font-size: 1.5rem;
    margin: 0; 
    padding: 0 2% 0 2%;
    align-items: center;
}

.quienes-somos p {
    margin: 0 5% 0 5%;
    font-weight: 550;
}

.quienes-somos img:nth-child(1) {
    grid-area: p1;
}

.quienes-somos img:nth-child(2) {
    grid-area: p2;
}

.quienes-somos img:nth-child(3) {
    grid-area: p3;
}

.quienes-somos img {
    width: 30px;
    height: 30px;
    margin-left: 15%;
    filter: invert(14%) sepia(96%) saturate(5950%) hue-rotate(355deg) brightness(113%) contrast(112%);
}

.quienes-somos img:nth-child(1) {
    grid-area: logo1;
}

.quienes-somos img:nth-child(2) {
    grid-area: logo2;
}

.quienes-somos img:nth-child(3) {
    grid-area: logo3;
}

.trabajos {
    grid-area: trabajos;
    background: -webkit-linear-gradient(bottom, rgba(51,51,51,1) 0%, rgba(200,0,0,0.15) 50%, rgba(51,51,51,1) 100%);
    display: grid;
    grid-template-areas: "titulo titulo"
                         "pic1 pic2"
                         "pic3 pic4";
    grid-template-rows: 15% 42.5% 42.5%;
    grid-template-columns: 50% 50%;
    color: white;
    text-align: center;
}

.trabajos h3 {
    grid-area: titulo;
    margin: 8% 4% 0 4%;
}

.trabajos img {
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
}

.trabajos img:nth-child(1) {
    grid-area: pic4;
}

.trabajos img:nth-child(2) {
    grid-area: pic1;
}

.trabajos img:nth-child(3) {
    grid-area: pic2;
}

.trabajos img:nth-child(4) {
    grid-area: pic3;
}

.servicios {
    grid-area: servicios;
    background-image: -webkit-linear-gradient(bottom, rgba(51, 51, 51, 1) 1%, rgba(51, 51, 51, 0.99) 5%, rgba(51, 51, 51, 0.6) 50%, rgba(51, 51, 51, 0.99)  90%, rgba(51, 51, 51, 1)  100%), url(img/pellets-red-bg.jpg);   
    color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicios h2 {
    margin: 0 2rem 2rem 2rem;
}

.servicios ul {
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

.servicios ul li {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.servicios ul li::before {
    content: "✅ ";
}


.contacto {
    grid-area: contacto;
    background: -webkit-linear-gradient(bottom, rgba(200,0,0,0.1) 1%, rgba(51,51,51,1) 100%);
    display: grid;
    grid-template-rows: 60% 40%;
}

.contacto ul {
    grid-row: 1 / 2;
    color: white;
    font-size: 1.4rem;
    font-family: Verdana, Tahoma, sans-serif;
    padding-right: 2rem;
    list-style:none;
    padding-left: 2rem;
    font-weight: bold;
}

.contacto li:first-child {
    margin-bottom: 1.5rem;
}

.contacto ul li:first-child::before {
    content: '';
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-image: url(img/iconos/map-marker-alt-solid.svg); 
    filter: invert(14%) sepia(96%) saturate(5950%) hue-rotate(355deg) brightness(75%) contrast(112%);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1rem;   
}

.contacto ul li:last-child::before {
      content: '';
      display: inline-block;
      height: 2rem;
      width: 2rem;
      background-image: url(img/iconos/phone-solid.svg); 
      filter: invert(14%) sepia(96%) saturate(5950%) hue-rotate(355deg) brightness(75%) contrast(112%);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 1rem;   
}

.contacto span {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.contacto span a {
    text-decoration: none;
    width: 15%;
    margin: 0.5rem 1rem 0 1rem;
    text-align: center;
}

.contacto span img {
    max-height: 75%;
    filter: invert(14%) sepia(96%) saturate(5950%) hue-rotate(355deg) brightness(75%) contrast(112%);
}

.mapa {
    grid-area: mapa;
    background-image: -webkit-linear-gradient(bottom, rgba(51,51,51,1) 0%, rgba(200,0,0,0.1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}

footer {
    text-align: center;
    background-color: white;
    height: 2rem;
    font-size: 1rem;
    font-style: italic;
}


/* CLIENTES */
.contenedor-clientes {
    height: 98vh;
    display: grid;
    grid-template-areas: "intro intro"
                         "desc fotos"
                         "resenas resenas";
    grid-template-rows: 0.2fr 5fr 4fr;
    grid-template-columns: 50% 50%;
    padding-top: 13vw;
    background: rgb(218, 212, 212);
}

.contenedor-clientes .intro-resenas {
    grid-area: intro;
    background-color: rgb(218, 212, 212);
    margin: auto;
    padding-top: 2rem;  /* VER SI CONVIENE SACAR UNA VEZ QUE AGREGUE LA DESC POSTA */
    font-style: italic;
    font-size: 3.5vw;
}

.desc-clientes {
    grid-area: desc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 5%;
    font-size: 4vw;
}

.contenedor-clientes .resenas {
    grid-area: resenas;
    background-color: rgb(218, 212, 212);
    font-size: 4vw;
    text-align: center;
    padding-top: 2.5%;
}

.contenedor-clientes .resenas ul {
    text-align: center;
    width: 80%;
    margin: auto;
    list-style-type: none;
    padding: 0;
    margin: auto;
}

.contenedor-clientes .resenas ul li {
    margin-bottom: 5%;
}

.clientes-img {
    grid-area: fotos;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.clientes-img img {
    width: 90%;
    margin-bottom: 2%;
} 

/* CONTACTO
    Acá vamos a tener un form de contacto clásico que redireccione a un mail */
.contenedor-contacto {
    padding-top: 13vw;
    height: 70rem;
    /* background-color: rgb(218, 212, 212); */
    background: -webkit-linear-gradient(top, rgba(200,0,0,0.1) 1%, rgba(51,51,51,1) 100%);
    color: white;
}

.form-contacto {
    padding: 2% 5%;
}

.mb-3 {
    margin-top: 2%;
}

#header_contacto {
    margin: auto 3rem;
    margin-top: 3rem;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.form-label,.btn,.btn-primary {
    font-size: 1.5rem;
}

.btn-primary {
    margin-top: 2rem;
}

.wpp-contacto {
    margin: 3rem auto auto auto;
    width: 70%;
    background-color: #21b500;
    font-size: 1.5rem;
    height: 4rem;
    border-radius: 10px;
}

.wpp-contacto a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 0.4rem;
}

.wpp-contacto a img {
    padding-right: 0.7rem;
}

/* PARA LA PARTE DE CLIENTES QUEDARIA BIEN ARMAR UN MEDIAQUERY
A PARTIR DE LOS 530 PX WIDE. QUIZAS SE PUEDE MANTENER EL TAMAÑO
DE LETRA QUE HAY A LOS 530PX (VER https://www.pixelconverter.com/vw-to-pixel-px-converter/)
Y ARMAR EL MEDIAQUERY DE TABLET DE 530PX-XXX PX (VER LIMITE)
IGUALMENTE ME PARECE MEJOR ARMAR TODAS LAS OTRAS SECCIONES HASTA 
530 PX Y DESPUES ARMAR UN MEDIAQUERY GENERAL */

/* Media Queries */
@media screen and (min-width:640px) {
    .contenedor-main {
        display: grid;
        grid-template-areas: "quienes-somos quienes-somos"
                             "productos servicios"
                             "contacto mapa";
        grid-template-rows: 30% 40% 30%;
    }
}

/* Media query para telefonos muy chicos tipo iPhone 4 */
@media screen and (max-width:340px) {
    .contenedor-clientes {
        height: 60rem;
    }
}